<!DOCTYPE html>

<html xmlns:og="http://ogp.me/ns#">
<head>
    <title>Заглавная — ScheduleAPI</title>
    <meta charset="utf-8" />

    <!-- Общие мета-теги. -->
    <meta name="robots" content="follow" />
    <meta name="description" content="Сайт расписания УКСИВТа, позволяющий получать актуальные данные о заменах, и основном расписании для любой группы колледжа." />
    <meta name="keywords" content="Расписание, Schedule, УКСИВТ, UKSIVT, Замены, Changes, Replacements, ASP.NET, ASP.NET Core, Web Schedule" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Специализированные мета-теги для социальных сетей. -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ScheduleAPI" />
    <meta property="og:image" content="~/icons/icon_256px.png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    <meta property="og:description" content="Удобный API для получения данных о расписании колледжа и не только!" />
    <meta property="og:url" content="https://uksivt.info" />
    <meta property="og:site_name" content="ScheduleAPI" />

    <link rel="manifest" href="~/site-manifest.webmanifest" />
    <link rel="icon" type="image/ico" href="~/favicon.ico" sizes="32x32" />

    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    <header>
        Hello, There!
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        Current version: @{
            var metadata = System.Reflection.Assembly.GetEntryAssembly()?.GetName()?.Version;
            var majorVersion = metadata?.Major ?? 1;
            var minorVersion = metadata?.Minor ?? 0;
            var build = metadata?.Build ?? 0;
            var revision = metadata?.Revision ?? 0;

            @string.Concat(majorVersion, '.', minorVersion, '.', build, 
                           revision != 0 ? string.Concat(" (Rev-", revision, ").") :
                                           '.');
        }
    </footer>
</body>
</html>
